*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

:root{
    --titulos: 'Dosis', sans-serif;
    --textos: 'Playfair Display', serif;
    --verde_oscuro: #009458;
    --verde_claro: #69BF97;
}

.S_ORDEN{
    display: flex;
}

.DERECHA_SUPERIOR{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

@media(max-width:850px){
    .DERECHA_SUPERIOR{
        grid-template-columns: repeat(1, 1fr);
    }
}

.DERECHA_INFERIOR{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

@media(max-width:1180px){
    .DERECHA_INFERIOR{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:744px){
    .DERECHA_INFERIOR{
        grid-template-columns: repeat(1, 1fr);
    }
}


/**TITULO**/


/**FOTO ESTUDIANTE**/
.a_container{
	padding: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.a_img_perfil_anim{
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 1px white solid;
	border-radius: 50%;
	overflow: hidden; 
	transform: translatey(0px);
	animation: float 7s ease-in-out infinite ;
}

.a_img_perfil{
	width: 100%;
	height: 100%;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 10px 0px rgba(0, 148, 88, 1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 10px 0px rgba(105, 191, 151, 1);
		transform: translatey(15px);
	}
	100% {
		box-shadow: 0 5px 10px 0px rgba(0, 148, 88, 1);
		transform: translatey(0px);
	}
}


/**INDICADOR GLOBAL**/

.s_indi_global{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s_indi_global h2{
    font-family: var(--titulos);
    font-size: 40px;
    font-weight: 400;
}

.s_indi_global h3{
    font-family: var(--titulos);
    font-size: 30px;
    font-weight: 400;
}

.s_global{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 34px 0px;
}

.s_contenedor{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.s_contenedor div {
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s_contenedor div img {
    width: 60%;
}

/* primer cuadrito */

#uno {
    animation: uno 1s forwards;
    background-color: palevioletred;
}

@keyframes uno {
    100%{
        width: 100%;
    }
}

/* segundo cuadrito */

#dos {
    animation: dos 1s forwards;
    animation-delay: 1s;
    background-color: orange;
}

@keyframes dos {
    100%{
        width: 100%;
    }
}

/* tercer cuadrito */

#tres {
    animation: tres 1s forwards;
    animation-delay: 2s;
    background-color: yellow;
}

@keyframes tres {
    100%{
        width: 100%;
    }
}

/* cuarto cuadrito */

#cuatro {
    animation: cuatro 1s forwards;
    animation-delay: 3s;
    background-color: aqua;
}

@keyframes cuatro {
    100%{
        width: 100%;
    }
}

/* quinto cuadrito */

#cinco {
    animation: quinto 1s forwards;
    animation-delay: 4s;
    background-color: green;
}

@keyframes quinto {
    100%{
        width: 100%;
    }
}


/**FRUSTRACION**/
.columna{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.frustracion{
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: var(--textos);
}
.frustracion h2{
    text-align: center;

}
.container{
    width: 100%;
    background-color: #ddd;
}
.mes{
    text-align: right;
    padding: 2px;
    color: white;
    font-weight: bold;
    font-family: var(--textos);
}
@media(max-width:768px){
    .frustracion{
        width: 250px;
        padding: 10px 20px;
    }
}

.marzo{
    
    background-color: #04aa6d;
    animation: fillmarzo 2s forwards;
}
.junio{
    
    background-color: #2196f3;
    animation: filljunio 2s forwards;
}
.agosto{
    
    background-color: #f4e736;
    animation: fillagosto 2s forwards;
}
.noviembre{
    
    background-color: #f44336;
    animation: fillnov 2s forwards;
}
@keyframes fillmarzo{
    0%{width: 0;}
    100%{width: 15%;}
}
@keyframes filljunio{
    0%{width: 0;}
    100%{width: 30%;}
}
@keyframes fillagosto{
    0%{width: 0;}
    100%{width: 55%;}
}
@keyframes fillnov{
    0%{width: 0;}
    100%{width: 70%;}
}

/**MIEDO**/
.a_indicador_miedo{
	display: flex;
	justify-content: center;
	align-items: center;
    padding-bottom: 40px;

}

.a_termometro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;

}

.a_term1{
	width:20px;
	height:40px;
	border: solid 2px;

	overflow: hidden;
	display:block;
	z-index: 1;
	position: relative;
}

.a_term1:before{
	content:"";
	transition: 2s;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top:100%;
	left: 0;
  }

.a_term1:hover::before{
	background-color: rgb(207, 29, 29);
	top:0;
}

.a_term2_v{
	width:20px;
	height:40px;
	border: solid 2px;
    background-color: rgb(255, 166, 0);
}

.a_term2{
	width:20px;
	height:40px;
	background-color: rgb(255, 166, 0);
    animation: mi2 3s forwards;
    animation-delay: 9s;
}

@keyframes mi2{
    100%{
        width: 100%;
        height:0%;
        background: rgb(255, 255, 255);
    }

    0%{
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
    }
}

.a_term3_v{
	width:20px;
	height:40px;
	background-color: rgb(255, 251, 0);
	border: solid 2px;
}

.a_term3{
	width:20px;
	height:40px;
	background-color: rgb(255, 251, 0);
	animation: mi2 4s forwards;
    animation-delay: 6s;
}


.a_term4_v{
	width:20px;
	height:40px;
	background-color: rgb(0, 183, 255);
	border: solid 2px;
}

.a_term4{
	width:20px;
	height:40px;
    background-color: rgb(0, 183, 255);
	animation: mi2 3s forwards;
    animation-delay: 3s;
}

.a_term5_v{
	width:20px;
	height:40px;
	background-color: blue;
	border: solid 2px;
}

.a_term5{
	width:20px;
	height:40px;
	background-color: blue;
	animation: mi2 3s forwards;
}

.a_term6{
	width:20px;
	height:40px;
	background-color: blue;
	width: 50px;
    height: 50px;
    border-radius: 50%;
	margin-top: -10px;
	border: solid 2px;
}


.a_lineas{
	margin-top: -7px;
	margin-left: -25px;
	margin-right: 25px;
}
.a_lineas p{
	margin-top: 23px;
}


.a_caritas{
	display: flex;
	flex-direction: column;
	margin-top: -20px;
}

.a_cara1{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	margin-top: 15px;
	border: solid 3px;
	background-color:rgb(207, 29, 29);
}

.a_cara1:hover{
    transform: scale(1.5, 1.5);
}

.a_cara2{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	background-color: rgb(255, 166, 0);
	margin-top: 15px;
	border: solid 3px;
}

.a_cara2:hover{
    transform: scale(1.5, 1.5);
}

.a_cara3{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	background-color: rgb(255, 251, 0);
	margin-top: 15px;
	border: solid 3px;
}

.a_cara3:hover{
    transform: scale(1.5, 1.5);
}

.a_cara4{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	background-color: rgb(0, 183, 255);
	margin-top: 15px;
	border: solid 3px;
}

.a_cara4:hover{
    transform: scale(1.5, 1.5);
}

.a_cara5{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	background-color: blue;
	margin-top: 15px;
	border: solid 3px;
}

.a_cara5:hover{
    transform: scale(1.5, 1.5);
}
/**ENOJO**/

.s_enojo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

}

.circulo_s{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    border-right: 25px solid #d9534f;
    border-top: 25px solid #428bca;
    border-left: 25px solid #d9534f;
    border-bottom: 25px solid #d9534f;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: rotate(45deg);
    animation-name: circulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes circulo {

    0%{
        border-top: 25px solid #d9534f;
    }
    100%{
        border-top: 25px solid #428bca;
    }

}

.circulo_s p{
    transform: rotate(-45deg);
}


/**TRISTEZA Y ALEGRIA**/

.s_medidor{
    width: 100%;
    padding: 0px 10px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s_graf{
    z-index: 2;
    width: 300px; 
    height: 150px; 
    border-right: 60px solid #51b700;
    border-top: 60px solid #ffb702;
    border-left: 60px solid #ef5215;
    border-radius: 300px 300px 0 0;
}

.s_flecha{
    width: 20px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    transform-origin: 10px 80px;
    transform: rotate(-60deg);
    animation-name: aguja;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes aguja {

    0%{
        transform: rotate(-60deg);
    }

    50%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(60deg);

    }
}

.s_texto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.s_texto h3{
    font-family: var(--titulos);
    font-size: 30px;
}





