*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 


:root{
    --textos: 'Playfair Display', serif;
    --titulos: 'Dosis', sans-serif;
    --verde_oscuro: #009458;
    --verde_claro: #69BF97;
}
.contenido{
    display: flex;
    flex-direction: column;
}

.container ul{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container li{
    padding: 50px 90px;
}
ul{
    list-style: none;
}
.contenido h1{
    font-family: var(--titulos);
    color: var(--verde_oscuro);
    justify-content: flex-start;
    margin: 20px ;
}
.container p{
    text-align: center;
    font-family: var(--textos);
}
a{
    text-decoration: none;
    color: black;
}
/* responsive celular */
@media(max-width:320px){
    .container img{
        height: auto;
        width: auto;
        max-height: 90px;
        max-width: 90px;
        
    }
    .container ul{
        padding: 10px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .container li{
        padding: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .contenido h1{
        padding: 10px 10px ;
        margin: 0;
        font-size: 12px;
        
    }
}
/* responsive tablet */
@media(max-width:744px){
    .container ul{
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

}

/* aqui va el header */
.o-container-header{
    background-color: black;
    color: #D9D9D9;
    font-family: var(--titulos);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;    
   
}

@media (min-width: 700px){
    .o-navegacion{
        display: none;
    }
}

@media (max-width: 700px){
    .o-container-header h1{
        display: none;
    }
}

@media (max-width: 454px){
    .o-container-header {
        padding:20px 20px;
        
    }
}


.o-log-out{
    font-family: var(--titulos);
    background: #69BF97;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;

}

.o-container-header img{
    width: 60px;

}
 

/* aqui va el menu*/

.contenido-menu{
    display: flex;
    

}

/*Coloque posicion general en en el contenedor*/
.menu_C{
    width: 100px;
    height: 100vh;
    background-color: black;
}

/*en la seccion del menu se colocaron elementos de iconos*/
.menu_C img{
    display:block;
    align-items: center;
    align-content: center;
    padding: 16px;
    width: 90%;
    transition: all 0.3s ease;
}

/*se  coloco animanion de hover en cuanto el usuario pase el curso mostrara cada seccion del menu de barra lateral*/
.menu_C img:hover{
    background-color: #69BF97;
    width: 120px;
    border: 1px;
}


/*Media queries de vaeln */



/* aqui va el footer */

/*Elemento general del contenedor footer*/
footer{
    display: flex;
    align-items: center;
    align-content:center ;
    background: black;
    height: auto;
    width:100%;
}

/*seccion de footer elemento de la clase*/
.footer_C{
    display: flex;
    align-items: center;
    align-content:center;
    margin-left: 100px;
}
/*Seccion de footer elemento de tipografia y color*/
.footer_C p{
    font-family: var(--textos);
    font-size: 14px;
    color:#FFFFFF;
}

/*Elemento general de redes*/
.Redes_C{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 800px;
}

/*Elemento de cada icon img en espedifico*/
.Redes_C img{
    width: 20px;
    margin-left: 10px;
    filter: invert(100%) sepia(34%) saturate(2%) hue-rotate(230deg) brightness(109%) contrast(101%);
}

/*Elemento de hover cambio de color de los iconos */
.Redes_C img:hover{
    filter: invert(66%) sepia(44%) saturate(338%) hue-rotate(100deg) brightness(94%) contrast(93%);
}

/**INDEX**/

/* diplomados  */


/**LISTA**/

/* estudiantes */

.a_dip1_users_list{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}

.a_elem_dip1{
    display:flex;
    margin-top: 30px;
    align-items: center;
}

.a_user_numb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    font-family: var(--textos);
    font-weight: 600;
}

.a_color1{
    background-color: rgb(114, 130, 221);
    color: white;
}


.a_color2{
    background-color: rgba(28, 133, 141, 0.658);
    color:white;
 }

.a_color3{
    background-color: rgb(99, 15, 235);
    color: white;
}

.a_color4{
    background-color: rgb(228, 36, 132);
    color: white;
}

.a_color5{
    background-color: rgb(165, 122, 28);
    color: white;
}

.a_user_name{
    font-family: var(--textos);
    font-size: 20px;
}

.a_col1{
    color: rgb(85, 85, 241);
}

.a_col2{
    color: rgba(28, 133, 141, 0.658);
}

.a_col3{
    color:rgb(99, 15, 235) ;
}

.a_col4{
    color:rgb(228, 36, 132) ;
}

.a_col5{
    color:rgb(165, 122, 28);
}